In [2]:
import pandas as pd
import os
import tabula

from pathlib import Path

In [3]:
pd.set_option('max_rows', None)
pd.set_option('max_columns', None)

In [4]:
p = Path('C:/Users/602770/Downloads/volunteer/wec/student_data')
files = list(p.glob('*.pdf'))

In [8]:
result = files[0:5]

In [13]:
result[0].name

'fall_2000.pdf'

In [15]:
!pwd

/c/Users/602770/downloads/volunteer/wec

In [16]:
os.chdir('C:/Users/602770/Downloads/volunteer/wec/student_data')

In [17]:
df = tabula.read_pdf(result[0].name, pages='all')

In [18]:
df

,Student ID,Last Name,Fisrt Name,Age,Gender,Ethnicity,under 22,Income,Status,Zip Code,Education,Years in US
0,639784450,Aguilar,Martir,40,Male,NaN,No,NaN,NaN,20910,9,NaN
1,1116211479,Aispuro,Juan,40,Male,NaN,No,NaN,NaN,20010,12,NaN
2,1857407717,Alfaro-Santos,Eliseo,55,Male,NaN,No,NaN,NaN,20851,NaN,NaN
3,958588722,Alvarado,Balbina,63,Female,NaN,No,NaN,NaN,20854,6,NaN
4,1492966956,Alvarenga,Edgar,42,Male,NaN,No,NaN,Not Employed,20011,2,NaN
5,265947198,Alvarez,Manuel,49,Male,Hispanic or,No,NaN,NaN,20009,9,NaN
6,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
7,444634511,Añez,Maria,68,Female,NaN,No,NaN,NaN,20010,5,NaN
8,976216739,Aparicio-Contreras,Daniel,40,Male,Hispanic or,No,NaN,NaN,20010,6,NaN
9,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
10,1265882729,Arevalo,Ana,71,Female,NaN,No,NaN,Not Employed,20854,5,NaN
11,1385624166,Argandoña,Flora,70,Female,NaN,No,NaN,NaN,20012,5,NaN
12,167562806,Argueta,Jose,56,Male,NaN,No,NaN,Not Employed,20005,14,NaN
13,1219675347,Argueta,Martin,48,Male,NaN,No,NaN,NaN,20011,6,NaN
14,585427045,Arias,Maria,66,Female,NaN,No,NaN,NaN,20016,6,NaN
15,15571666,Aviles,Evelina,63,Female,NaN,No,NaN,NaN,20010,3,NaN
16,Student ID,Last Name,Fisrt Name,Age,Gender,Ethnicity,under 22,Income,Status,Zip Code,Education,Years in US
17,2146484802,Aviles,Julio,60,Male,NaN,No,NaN,NaN,20010,6,NaN
18,870966345,Ayala,Adriana,42,Female,NaN,No,NaN,NaN,20008,15,NaN
19,774726213,Barra,Cecilia,91,Female,NaN,No,NaN,Not Employed,20007,6,NaN
20,601908486,Barrios,Ines,82,Female,NaN,No,NaN,NaN,20008,3,NaN
21,344385704,Basualdo,Mariluz,40,Female,NaN,No,NaN,Not Employed,23209,5,NaN
22,694634752,Bensouda,Abdeltif,50,Male,Non-Hispanic or,No,NaN,Not Employed,22204,5,NaN
23,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
24,2100045071,Berdandino,Gloria,71,Female,Non-Hispanic or,No,NaN,Not Employed,20016,3,NaN
25,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
26,631840240,Blanco,Telma,65,Female,NaN,No,NaN,Not Employed,20008,6,NaN
27,1174309628,Boada,Jesus,58,Male,NaN,No,NaN,Not Employed,20783,2,NaN
28,839174311,Bonilla,Edis,51,Male,NaN,No,NaN,Not Employed,20005,4,NaN
29,432498322,Bonilla,Luz,43,Female,NaN,No,NaN,Not Employed,20878,2,NaN
30,1165313830,Bonilla,Rafael,48,Male,NaN,No,NaN,Not Employed,20012,5,NaN
31,563205125,Bravo,Sabina,53,Female,NaN,No,NaN,Not Employed,20815,5,NaN
32,749788650,Bravo-Salazar,Gabriela,35,Female,Hispanic or,No,NaN,Not Employed,20902,10,NaN
33,Student ID,Last Name,Fisrt Name,Age,Gender,Ethnicity,under 22,Income,Status,Zip Code,Education,Years in US
34,1484717756,Bruno,Oscar,47,Male,NaN,No,NaN,Not Employed,20109,4,NaN
35,511948200,Burgos,Asuncion,69,Female,NaN,No,NaN,Not Employed,20008,3,NaN
36,1778784412,Buruca,Leonel,42,Female,NaN,No,NaN,Not Employed,20009,5,NaN
37,654902312,Buten,Francisca,79,Female,NaN,No,NaN,NaN,20009,3,NaN
38,1209488899,Cabezas,Franz,48,Male,NaN,No,NaN,Not Employed,20009,6,NaN
39,2102935923,Cabezas,Janneth,62,Female,NaN,No,NaN,Not Employed,20009,2,NaN
40,1691915061,Cabillas,Francisca,82,Female,NaN,No,NaN,Not Employed,22102,NaN,NaN
41,886011896,Cabral,Eddy,57,Male,NaN,No,NaN,Not Employed,20011,5,NaN
42,251842402,Cabrera,Silvia,36,Female,NaN,No,NaN,Not Employed,20005,6,NaN
43,464450848,Cabrera-Gomez,Romeo,39,Male,NaN,No,NaN,Not Employed,20007,6,NaN
44,1320993813,Cabrera-Zavala,Jose,40,Male,NaN,No,NaN,Not Employed,20782,8,NaN
45,218779835,Cadme,Zoila,70,Female,NaN,No,NaN,Not Employed,20016,2,NaN
46,1421840754,Calero,Pedro,65,Male,NaN,No,NaN,Not Employed,22041,3,NaN
47,998869543,Camacho,Maria,70,Female,NaN,No,NaN,Not Employed,20850,6,NaN
48,1162578522,Camargo,Jaime,40,Male,NaN,No,NaN,Not Employed,20009,10,NaN
49,Student ID,Last Name,Fisrt Name,Age,Gender,Ethnicity,under 22,Income,Status,Zip Code,Education,Years in US
50,829018825,Campos,Ana,55,Female,NaN,No,NaN,NaN,20011,5,NaN
51,892853809,Canales,Ana,40,Female,Hispanic or,No,NaN,Not Employed,20906,5,NaN
52,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
53,1361985499,Canales,Edgar,43,Male,NaN,No,NaN,Not Employed,20906,6,NaN
54,140609642,Canales,Jorge,66,Male,NaN,No,NaN,Not Employed,20740,4,NaN
55,892980925,Canales,Jose,59,Male,NaN,No,NaN,Not Employed,20009,6,NaN
56,461629579,Cañas,Juan,63,Male,NaN,No,NaN,Not Employed,20016,6,NaN
57,1336430346,Carcamo,Walter,40,Male,NaN,No,NaN,Not Employed,20001,6,NaN
58,294484158,Carrasquel,Liliana,50,Female,NaN,No,NaN,Not Employed,20008,5,NaN
59,2108279384,Carvalho,Etelvina,79,Female,NaN,No,NaN,Not Employed,20853,2,NaN
60,1362071434,Carvalho,Francisco,54,Male,NaN,No,NaN,Not Employed,20002,2,NaN
61,1153493076,Carvalho,Regina,44,Female,NaN,No,NaN,Not Employed,20002,5,NaN
62,1466649856,Castellanos,Vicenta,44,Female,NaN,No,NaN,Not Employed,20010,5,NaN
63,1585486733,Castillo,Carlos,68,Male,NaN,No,NaN,Not Employed,20010,5,NaN
64,2064173115,Castillo,Miguel,40,Male,NaN,No,NaN,Not Employed,20005,6,NaN
65,368313708,Castillo,Zoila,67,Female,NaN,No,NaN,Not Employed,22102,2,NaN
66,Student ID,Last Name,Fisrt Name,Age,Gender,Ethnicity,under 22,Income,Status,Zip Code,Education,Years in US
67,1769784666,Castro,Ana,61,Female,NaN,No,NaN,Not Employed,20007,2,NaN
68,1717530462,Castro,Jaime,71,Male,NaN,No,NaN,Not Employed,22042,5,NaN
69,215513536,Castro,Modesto,42,Male,NaN,No,NaN,Not Employed,20024,3,NaN
70,1501571773,Cedillo,Francisco,42,Male,NaN,No,NaN,Not Employed,20015,2,NaN
71,859219987,Chavez,Herik,36,Male,NaN,No,NaN,Not Employed,20010,6,NaN
72,797730811,Chavez,Imelda,38,Female,NaN,No,NaN,Not Employed,20782,1,NaN
73,1246116671,Cifuentes,Humberto,55,Male,NaN,No,NaN,NaN,20784,13,NaN
74,1320553244,Coreas,Oscar,43,Male,NaN,No,NaN,NaN,20001,9,NaN
75,239478777,Cruz,Claudia,45,Female,NaN,No,NaN,Not Employed,20906,8,NaN
76,648858269,Cruz,Maria,68,Female,NaN,No,NaN,Not Employed,22102,5,NaN
77,1559447086,Cupido,Estela,37,Female,NaN,No,NaN,Not Employed,20005,12,NaN
78,1500888095,Davila,Manuel,42,Male,NaN,No,NaN,NaN,20781,5,NaN
79,1684318388,Daza,Alba,54,Female,NaN,No,NaN,NaN,22041,6,NaN
80,1568776957,Donis,Hector,41,Male,NaN,No,NaN,Not Employed,20712,NaN,NaN
81,1107692673,Erices,Marcela,59,Female,NaN,No,NaN,NaN,20816,12,NaN
82,Student ID,Last Name,Fisrt Name,Age,Gender,Ethnicity,under 22,Income,Status,Zip Code,Education,Years in US
83,1168682374,Espinal,Mary Carmen,49,Female,NaN,No,NaN,NaN,20017,11,NaN
84,1442167449,Fajardo,Leonor,48,Female,NaN,No,NaN,Not Employed,22180,3,NaN
85,1566890887,Flores,Santos,41,Male,NaN,No,NaN,Not Employed,20011,7,NaN
86,351205005,Garabito,Rosalia,53,Female,NaN,No,NaN,Not Employed,20010,12,NaN
87,1659511990,Gomez,Octavio,53,Male,Hispanic or,No,NaN,Not Employed,20877,12,NaN
88,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
89,1858007845,Gonzalez,Alfredo,50,Male,NaN,No,NaN,NaN,20003,12,NaN
90,770136050,Gonzalez,Hugo,44,Male,NaN,No,NaN,NaN,20008,12,NaN
91,775097733,Gutierrez-Lazo,Argentina,56,Female,Hispanic or,No,NaN,NaN,20011,7,NaN
92,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
93,354377170,Hernandez,Iris,40,Female,NaN,No,NaN,Not Employed,20001,12,NaN
94,468217861,Hernandez,Maria,64,Female,NaN,No,NaN,NaN,20010,6,NaN
95,855182506,Hinojosa,Alejandro,48,Male,NaN,No,NaN,NaN,22204,2,NaN
96,1834563776,Huamani,Emilia,54,Female,Hispanic or,No,NaN,NaN,20001,4,NaN
97,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
98,1468279736,Jaramillo,Ana,76,Female,NaN,No,NaN,NaN,20161,6,NaN
99,2050406881,Juela,Martha,50,Female,NaN,No,NaN,NaN,20852,5,NaN
100,Student ID,Last Name,Fisrt Name,Age,Gender,Ethnicity,under 22,Income,Status,Zip Code,Education,Years in US
101,718010826,Landaverde,Amadeo,39,Male,Hispanic or,No,NaN,NaN,20024,12,NaN
102,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
103,181077872,Lazo,Pedro,49,Male,NaN,No,NaN,NaN,20010,4,NaN
104,439466945,Loayes,Rigoberto,39,Male,NaN,No,NaN,Not Employed,20001,7,NaN
105,464385356,Lopez,Adan,60,Male,NaN,No,NaN,NaN,20016,12,NaN
106,2025267876,Lopez,Blanca,49,Female,Hispanic or,No,NaN,Part-Time,20737,15,NaN
107,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
108,925183977,Lopez,Yessenia,46,Female,NaN,No,NaN,Not Employed,20783,6,NaN
109,2097341051,Lopez-Perez,Carolina,44,Female,NaN,No,NaN,Not Employed,20722,12,NaN
110,2101496791,Luna,Reynaldo,40,Male,NaN,No,NaN,NaN,20010,11,NaN
111,21556837,Magaña,Sandra,38,Female,NaN,No,NaN,NaN,20716,5,NaN
112,1696645233,Martinez,Isaias,39,Male,NaN,No,NaN,NaN,20009,12,NaN
113,2059712867,Martinez,Jose,46,Male,NaN,No,NaN,Not Employed,20010,6,NaN
114,407425683,Medina,Ludin,38,Male,NaN,No,NaN,Not Employed,20001,11,NaN
115,1391631729,Mejia-Serrano,Carlos,51,Male,NaN,No,NaN,NaN,20746,6,NaN
116,1716394926,Menjivar,Maria,70,Female,NaN,No,NaN,Not Employed,20024,3,NaN
117,Student ID,Last Name,Fisrt Name,Age,Gender,Ethnicity,under 22,Income,Status,Zip Code,Education,Years in US
118,1597463401,Merso,Tsegie,65,Female,Non-Hispanic or,No,NaN,NaN,20011,11,NaN
119,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
120,118942523,Millan,Aristides,73,Female,Hispanic or,No,NaN,NaN,20016,14,NaN
121,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
122,1807152790,Morales,Jose,63,Male,NaN,No,NaN,Not Employed,20784,13,NaN
123,462579406,Muñoz,Maria,62,Female,NaN,No,NaN,Not Employed,20016,10,NaN
124,1214183592,Muñoz,Oscar,48,Male,NaN,No,NaN,NaN,20018,12,NaN
125,1024078139,Nina,Regina,50,Female,NaN,No,NaN,Not Employed,20854,12,NaN
126,682783059,Ortega-Rios,Concepcion,58,Female,Hispanic or,No,NaN,NaN,20009,17,NaN
127,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
128,9068700,Palma,Edgar,38,Male,NaN,No,NaN,NaN,20001,9,NaN
129,2094442346,Palomino,Mauricio,65,Male,NaN,No,NaN,Not Employed,20010,9,NaN
130,763863844,Pazos,Alicia,76,Female,NaN,No,NaN,NaN,20815,NaN,NaN
131,1560504073,Pechucue,Maria,51,Female,Hispanic or,No,NaN,NaN,20814,9,NaN
132,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
133,1794034248,Peña-Pinzon,Maria,60,Female,Hispanic or,No,NaN,Not Employed,20015,11,NaN
134,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
135,1571375065,Perez,Octavio,61,Male,NaN,No,NaN,Not Employed,20011,6,NaN
136,564048937,Perez-Juarez,Gilberto,43,Male,Hispanic or,No,NaN,Not Employed,20903,12,NaN
137,Student ID,Last Name,Fisrt Name,Age,Gender,Ethnicity,under 22,Income,Status,Zip Code,Education,Years in US
138,1402498119,Pivaral,Juan Carlos,40,Male,NaN,No,NaN,Not Employed,20737,12,NaN
139,1615709183,Porras,Luis,60,Male,NaN,No,NaN,Not Employed,20024,13,NaN
140,466421377,Quintanilla,Francisco,70,Male,NaN,No,NaN,NaN,20010,6,NaN
141,1667945825,Quintanilla,Maria,62,Female,NaN,No,NaN,NaN,20815,8,NaN
142,393025910,Quinteros,Santos,39,Male,NaN,No,NaN,NaN,20017,6,NaN
143,154166384,Quispe,Paulina,71,Female,Hispanic or,No,NaN,NaN,20816,3,NaN
144,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
145,1590314378,Quispe,Victoria,59,Female,NaN,No,NaN,NaN,22181,11,NaN
146,1555261462,Ramadan,Samer,50,Male,Non-Hispanic or,No,NaN,Not Employed,20008,16,NaN
147,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
148,291801183,Ramirez,Hector,40,Male,NaN,No,NaN,NaN,20010,6,NaN
149,1366928531,Raymundo,Nery,42,Male,NaN,No,NaN,Not Employed,22312,6,NaN
150,456594598,Revilla,Teresa,49,Female,NaN,No,NaN,Not Employed,20008,12,NaN
151,1320922969,Reyes,Juana,59,Female,NaN,No,NaN,Not Employed,20010,7,NaN
152,226570304,Reyes,Maria,69,Female,NaN,No,NaN,Not Employed,20011,12,NaN
153,1420755351,Reyes,Noemi,62,Female,NaN,No,NaN,Not Employed,20009,12,NaN
154,Student ID,Last Name,Fisrt Name,Age,Gender,Ethnicity,under 22,Income,Status,Zip Code,Education,Years in US
155,1037588018,Rios,Alejandro,62,Male,NaN,No,NaN,Not Employed,20009,6,NaN
156,1842360947,Rios,Maximiliano,47,Male,NaN,No,NaN,NaN,20008,9,NaN
157,997858469,Rivera,Edwin,37,Male,NaN,No,NaN,Not Employed,20005,12,NaN
158,1181709216,Rivero,Nilma,48,Female,NaN,No,NaN,Not Employed,20008,12,NaN
159,443412840,Rodriguez,Delmy,41,Female,NaN,No,NaN,Not Employed,20005,5,NaN
160,94672892,Rodriguez,Leopoldo,51,Male,NaN,No,NaN,Not Employed,20010,14,NaN
161,1581894953,Rodriguez,Mirta,41,Female,NaN,No,NaN,Not Employed,20016,6,NaN
162,1518779300,Rodriguez,Uvaldo,49,Male,NaN,No,NaN,Not Employed,20010,10,NaN
163,918913998,Rodriguez,Viviana,62,Female,NaN,No,NaN,Not Employed,20007,6,NaN
164,1438626728,Romero,Jeremias,43,Male,NaN,No,NaN,NaN,20009,1,NaN
165,1636282611,Romero,Jose,61,Male,NaN,No,NaN,NaN,20783,NaN,NaN
166,1090968189,Romero,Miguel,41,Male,Hispanic or,No,NaN,NaN,20910,NaN,NaN
167,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
168,1420022794,Romero,Panfilo,45,Male,NaN,No,NaN,Not Employed,20743,10,NaN
169,120253916,Romero,Pedro,39,Male,NaN,No,NaN,Not Employed,20005,5,NaN
170,546075563,Romero,Rodolfo,39,Male,NaN,No,NaN,Not Employed,20005,17,NaN
171,Student ID,Last Name,Fisrt Name,Age,Gender,Ethnicity,under 22,Income,Status,Zip Code,Education,Years in US
172,798005151,Rosales,Alberto,45,Male,Hispanic or,No,NaN,NaN,22204,14,NaN
173,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
174,265098207,Rosario,Maria,61,Female,NaN,No,NaN,Not Employed,20009,12,NaN
175,1580126018,Rozo,Elsa,51,Female,NaN,No,NaN,Not Employed,22209,17,NaN
176,1747822022,Rueda-Lopez,Maxin,46,Male,NaN,No,NaN,NaN,20912,6,NaN
177,940607381,Ruiz,Jose,48,Male,NaN,No,NaN,Not Employed,20011,8,NaN
178,1359983754,Saavedra,Araceli,48,Female,NaN,No,NaN,Not Employed,20782,6,NaN
179,707165645,Saenz,Jaime,61,Male,NaN,No,NaN,Not Employed,20016,18,NaN
180,1739704310,Sagastume,Sender,39,Male,NaN,No,NaN,Not Employed,20005,12,NaN
181,368431017,Said Tarisi,Latifah,71,Female,Non-Hispanic or,No,NaN,Not Employed,20008,NaN,NaN
182,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
183,1678992151,Saka,Nedret,67,Female,Non-Hispanic or,No,NaN,Not Employed,22042,5,NaN
184,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
185,1568325019,Salas,Renan,41,Male,NaN,No,NaN,Not Employed,20906,NaN,NaN
186,1181972876,Salazar,Daysi,42,Female,NaN,No,NaN,Not Employed,20011,7,NaN
187,1441517063,Salmeron,Andy,39,Male,NaN,No,NaN,Not Employed,20010,9,NaN
188,1127702634,Salmeron,Mercedes,41,Female,NaN,No,NaN,Not Employed,20009,8,NaN
189,Student ID,Last Name,Fisrt Name,Age,Gender,Ethnicity,under 22,Income,Status,Zip Code,Education,Years in US
190,2052203005,Sanchez,Aura,69,Female,NaN,No,NaN,Not Employed,20817,3,NaN
191,1712817960,Sanchez,Eugenio,48,Male,NaN,No,NaN,Not Employed,22101,6,NaN
192,1630757256,Sanchez,Jose,62,Male,NaN,No,NaN,Not Employed,20009,11,NaN
193,1716331033,Sanchez,Maria,NaN,Female,NaN,No,NaN,Not Employed,22043,NaN,NaN
194,824530664,Sanchez,Silvia,48,Female,NaN,No,NaN,NaN,22044,13,NaN
195,257605944,Sanchez-Romero,Adan,42,Male,Hispanic or,No,NaN,Not Employed,20011,6,NaN
196,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
197,2079101451,Sandagorda,Rene,55,Male,NaN,No,NaN,Not Employed,20903,12,NaN
198,837952546,Sandoval,Edwin,36,Male,NaN,No,NaN,Not Employed,20009,6,NaN
199,1222977728,Sandoval,Gladys,46,Female,NaN,No,NaN,NaN,20851,15,NaN
200,1557635791,Sandoval,Jessica,45,Female,NaN,No,NaN,Not Employed,20007,12,NaN
201,1283789410,Sandoval,Maria,62,Female,NaN,No,NaN,NaN,NaN,6,NaN
202,36938361,Sandoval,Noel,39,Male,NaN,No,NaN,Not Employed,20005,9,NaN
203,1104942225,Santos,Fidel,59,Male,Hispanic or,No,NaN,Not Employed,20001,10,NaN
204,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
205,1789256717,Sarango,Olivia,55,Female,NaN,No,NaN,Not Employed,20015,NaN,NaN
206,Student ID,Last Name,Fisrt Name,Age,Gender,Ethnicity,under 22,Income,Status,Zip Code,Education,Years in US
207,1979364022,Saravia,Martha,49,Female,NaN,No,NaN,Not Employed,20010,NaN,NaN
208,1398896121,Sarceño,Onelia,51,Female,NaN,No,NaN,Not Employed,20009,6,NaN
209,592410363,Sarmiento,Felicidad,70,Female,NaN,No,NaN,Not Employed,20902,13,NaN
210,610666190,Serrano,Imelda,52,Female,NaN,No,NaN,Not Employed,20008,6,NaN
211,1960498674,Serrano,Julio,53,Male,NaN,No,NaN,Not Employed,20010,12,NaN
212,1089298673,Sobailva,Kanaah,55,Female,Non-Hispanic or,No,NaN,Not Employed,20850,7,NaN
213,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
214,771386226,Solano,Francisca,70,Female,NaN,No,NaN,Not Employed,20011,7,NaN
215,398387729,Solano,Nilda,70,Female,NaN,No,NaN,NaN,20008,12,NaN
216,432736121,Solis,Neiza,58,Female,NaN,No,NaN,NaN,20904,20,NaN
217,931788981,Solorzano,Javier,48,Male,NaN,No,NaN,Not Employed,20010,7,NaN
218,1579582292,Sosa,Digna,54,Female,NaN,No,NaN,Not Employed,20009,9,NaN
219,698463631,Spagnolo,Ariel,54,Male,NaN,No,NaN,Not Employed,NaN,6,NaN
220,1169928826,Subakin,Loila,54,Female,NaN,No,NaN,Not Employed,22041,10,NaN
221,94148404,Surur,Zeynab,45,Female,Non-Hispanic or,No,NaN,NaN,20912,6,NaN
222,Student ID,Last Name,Fisrt Name,Age,Gender,Ethnicity,under 22,Income,Status,Zip Code,Education,Years in US
223,1694181430,Surya,Maria,67,Male,Non-Hispanic or,No,NaN,NaN,20008,5,NaN
224,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
225,1178026608,Tantani,Mohammed,59,Male,Non-Hispanic or,No,NaN,Not Employed,20008,11,NaN
226,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
227,710802714,Telda,Cerly,50,Female,Non-Hispanic or,No,NaN,Not Employed,22315,10,NaN
228,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
229,1471259184,Telles,Hilda,78,Female,NaN,No,NaN,Not Employed,20817,6,NaN
230,242405913,Thomson,Angelica,45,Female,NaN,No,NaN,Not Employed,20007,6,NaN
231,478871989,Tola,Judith,44,Female,NaN,No,NaN,Not Employed,20008,4,NaN
232,1554191746,Tola,Ruth,41,Female,NaN,No,NaN,Not Employed,20008,4,NaN
233,937184514,Torres,Jesusa,47,Female,NaN,No,NaN,Not Employed,22046,15,NaN
234,533278332,Torres-Marino,Lisbeth,45,Female,NaN,No,NaN,Not Employed,20815,NaN,NaN
235,166338477,Toyos,Luis,41,Male,NaN,No,NaN,Not Employed,20011,9,NaN
236,1270905262,Trujillo,Trinidad,41,Male,NaN,No,NaN,Not Employed,20011,9,NaN
237,818779095,Tsuji,Jiro,50,Female,Non-Hispanic or,No,NaN,Not Employed,20008,12,NaN
238,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
239,2034088395,Valenzuela,Jose,76,Male,NaN,No,NaN,Not Employed,20011,6,NaN
240,1680661354,Valle,Blanca,39,Female,NaN,No,NaN,Not Employed,20008,12,NaN
241,Student ID,Last Name,Fisrt Name,Age,Gender,Ethnicity,under 22,Income,Status,Zip Code,Education,Years in US
242,1853516953,Vallejo,Simona,70,Female,NaN,No,NaN,NaN,20895,6,NaN
243,697823739,Vallejos,Maria,56,Female,NaN,No,NaN,Not Employed,20745,14,NaN
244,132043082,Vargas,Lucy,49,Female,NaN,No,NaN,Not Employed,20783,11,NaN
245,748518558,Vasquez,Oved,39,Male,NaN,No,NaN,Not Employed,20743,6,NaN
246,1629390088,Vasquez,Rafael,44,Male,NaN,No,NaN,Not Employed,20005,6,NaN
247,268252144,Velasco,Leopoldina,58,Female,NaN,No,NaN,Not Employed,20011,9,NaN
248,434187354,Velasquez,Marina,53,Female,NaN,No,NaN,NaN,20854,4,NaN
249,381785373,Velasquez,Misael,48,Male,NaN,No,NaN,NaN,20011,9,NaN
250,627048872,Ventura,Cary,70,Female,NaN,No,NaN,NaN,20015,6,NaN
251,1577901544,Ventura,Daisy,59,Female,NaN,No,NaN,NaN,20003,6,NaN
252,1030706329,Ventura,Jose,41,Male,NaN,No,NaN,Not Employed,20009,12,NaN
253,1075117566,Veron,Paula,44,Female,NaN,No,NaN,NaN,22181,17,NaN
254,811903964,Villatoro,Dani,37,Male,NaN,No,NaN,NaN,20783,6,NaN
255,1109916041,Villatoro,Idalia,40,Female,NaN,No,NaN,NaN,20906,6,NaN
256,697367884,Villatoro,Maria,41,Female,NaN,No,NaN,NaN,20783,6,NaN
257,Student ID,Last Name,Fisrt Name,Age,Gender,Ethnicity,under 22,Income,Status,Zip Code,Education,Years in US
258,265180455,Villeda,Ingrid,39,Female,NaN,No,NaN,NaN,20785,2,NaN
259,663664614,Villeda,Rosa,70,Female,Hispanic or,No,NaN,Not Employed,20015,6,NaN
260,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
261,449458406,Villegas,Martha,42,Female,NaN,No,NaN,NaN,20008,6,NaN
262,1433660025,Widodo,Budi,45,Male,Non-Hispanic or,No,NaN,Not Employed,20782,13,NaN
263,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN
264,1629032232,Yanez,Maria,68,Female,NaN,No,NaN,Not Employed,20011,NaN,NaN
265,1997493779,Zambrano,Jofre,48,Male,NaN,No,NaN,Not Employed,20016,2,NaN
266,932740962,Zapata,Jose,72,Male,NaN,No,NaN,Not Employed,20009,9,NaN
267,604670298,Zapata,Roberto,41,Male,NaN,No,NaN,Not Employed,20009,NaN,NaN
268,1449340044,Zavala,Milton,37,Male,NaN,No,NaN,Not Employed,20011,12,NaN
269,549529462,Zea,Calixto,53,Male,NaN,No,NaN,Not Employed,22204,15,NaN
270,1218627208,Zegarac,Jovo,64,Male,Non-Hispanic or,No,NaN,NaN,20002,NaN,NaN
271,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN