In [1]:
# Figure out how to export data from proactive
# Create analysis for the team 
!pwd

/c/Users/602770/downloads/volunteer/wec/notebooks/WEC

In [2]:
import pandas as pd
import camelot
import os
import re

from pathlib import Path

In [3]:
pd.set_option('max_rows', None)
pd.set_option('max_columns', None)

In [7]:
p = Path('C:/Users/602770/Downloads/volunteer/wec/student-data_raw')
files = list(p.glob('*.pdf'))

In [8]:
test = files[1:2]

In [9]:
test

[WindowsPath('C:/Users/602770/Downloads/volunteer/wec/student-data_raw/fall_2001.pdf')]

In [10]:
for file in test:
    print(file.name)

fall_2001.pdf

In [11]:
files[1].name

'fall_2001.pdf'

In [12]:
os.chdir('C:/Users/602770/Downloads/volunteer/wec/student-data_raw')

In [13]:
#Older way to get text, but no way to get tables - PyPDF2

#import PyPDF2

# df_gen = (open(file, 'rb') for file in files)
# df = next(df_gen)
# df

# pdf_reader = PyPDF2.PdfFileReader(df)
# pdf_reader.numPages
# page_object = pdf_reader.getPage(0)
# page_object.extractText()

In [14]:
# gen = (camelot.read_pdf(j) for j in files)
# text = next(gen)

In [15]:
file.name

'fall_2001.pdf'

In [16]:
file.name[:-3] + 'csv'

'fall_2001.csv'

In [17]:
len(file.name)

13

In [18]:
#Go through each file in the glob list
for file in test:
    
    #Get the file's name and save to different object to keep clean
    name = file.name
    
    #Read in the pdf
    table = camelot.read_pdf(name, pages='all', flavor='stream', encoding='latin-1')
    
    #Use splicing to get rid of 'pdf' and save as csv file
    table.export(name[:-3] + 'csv')

In [19]:
#Sort to find specific files- still working on this

# ['fall_2000' in i for i in list(p.glob('*.csv'))[0:]]

In [22]:
result = list(p.glob('fall_2001*.csv'))

In [23]:
combined = pd.concat([pd.read_csv(j, header=3) for j in result], sort=False)

In [24]:
len(combined)

571

In [25]:
combined.columns

Index(['Student ID', 'Last Name', 'Fisrt Name', 'Age', 'Gender', 'Ethnicity',
       'under 22', 'Income', 'Status', 'Zip Code', 'Education', 'Years in US',
       'Gender\nEthnicity', 'Education\nYears in US', 'Unnamed: 0',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'w/ Child',
       'Low \nEmployment', 'Years of'],
      dtype='object')

In [28]:
combined['Gender_Final'] = combined['Gender'].astype(str) + combined['Gender\nEthnicity'].astype(str)

In [29]:
combined['Gender_Final'] = combined['Gender_Final']

In [30]:
combined.rename(columns={'Fisrt Name':'First Name', 'under 22':'With child under 22', 'Income':'Low Income'}, inplace=True)

In [31]:
combined.head()

,Student ID,Last Name,First Name,Age,Gender,Ethnicity,With child under 22,Low Income,Status,Zip Code,Education,Years in US,Gender Ethnicity,Education Years in US,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,w/ Child,Low Employment,Years of,Gender_Final
0,1949959769,Abarca,Blanca,41.0,Female,Hispanic or,No,NaN,NaN,20010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Femalenan
1,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nannan
2,1195783227,Abdul,Mohamed,43.0,Male,Non-Hispanic or,No,NaN,NaN,20854.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Malenan
3,NaN,NaN,NaN,NaN,NaN,Latino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nannan
4,1205919226,Aboulhouda,Abdelmalek,54.0,Male,Non-Hispanic or,No,NaN,Not Employed,22204.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Malenan

In [32]:
combined.columns

Index(['Student ID', 'Last Name', 'First Name', 'Age', 'Gender', 'Ethnicity',
       'With child under 22', 'Low Income', 'Status', 'Zip Code', 'Education',
       'Years in US', 'Gender\nEthnicity', 'Education\nYears in US',
       'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'w/ Child',
       'Low \nEmployment', 'Years of', 'Gender_Final'],
      dtype='object')

In [33]:
combined = combined[['Student ID', 'Last Name', 'First Name', 'Age', 'Gender', 'Ethnicity',
                       'With child under 22', 'Low Income', 'Status', 'Zip Code', 'Education']]

In [34]:
combined.dropna(axis=0, thresh=5, inplace=True)

C:\Users\602770\AppData\Local\Continuum\anaconda3\envs\biking\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [35]:
combined.sort_values(by='Last Name')
combined.reset_index(inplace=True, drop=True)

In [41]:
[j for j in result][:5]

[WindowsPath('C:/Users/602770/Downloads/volunteer/wec/student-data_raw/fall_2001-page-1-table-1.csv'),
 WindowsPath('C:/Users/602770/Downloads/volunteer/wec/student-data_raw/fall_2001-page-10-table-1.csv'),
 WindowsPath('C:/Users/602770/Downloads/volunteer/wec/student-data_raw/fall_2001-page-11-table-1.csv'),
 WindowsPath('C:/Users/602770/Downloads/volunteer/wec/student-data_raw/fall_2001-page-12-table-1.csv'),
 WindowsPath('C:/Users/602770/Downloads/volunteer/wec/student-data_raw/fall_2001-page-13-table-1.csv')]

In [40]:
list(p.glob('*.csv'))[:5]

[WindowsPath('C:/Users/602770/Downloads/volunteer/wec/student-data_raw/fall_2000_semester1.csv'),
 WindowsPath('C:/Users/602770/Downloads/volunteer/wec/student-data_raw/fall_2001-page-1-table-1.csv'),
 WindowsPath('C:/Users/602770/Downloads/volunteer/wec/student-data_raw/fall_2001-page-10-table-1.csv'),
 WindowsPath('C:/Users/602770/Downloads/volunteer/wec/student-data_raw/fall_2001-page-11-table-1.csv'),
 WindowsPath('C:/Users/602770/Downloads/volunteer/wec/student-data_raw/fall_2001-page-12-table-1.csv')]

In [39]:
[i for i in list(p.glob('*.csv'))][:5]

[WindowsPath('C:/Users/602770/Downloads/volunteer/wec/student-data_raw/fall_2000_semester1.csv'),
 WindowsPath('C:/Users/602770/Downloads/volunteer/wec/student-data_raw/fall_2001-page-1-table-1.csv'),
 WindowsPath('C:/Users/602770/Downloads/volunteer/wec/student-data_raw/fall_2001-page-10-table-1.csv'),
 WindowsPath('C:/Users/602770/Downloads/volunteer/wec/student-data_raw/fall_2001-page-11-table-1.csv'),
 WindowsPath('C:/Users/602770/Downloads/volunteer/wec/student-data_raw/fall_2001-page-12-table-1.csv')]

In [42]:
blob = str(list(p.glob('*.csv'))).split(',')

In [44]:
table = camelot.read_pdf('spring_2010.pdf', pages='all', flavor='stream')

In [ ]:
table

In [ ]:
table[5]

In [ ]:
table.export('spring_2010.csv')
# table[5].parsing_report

In [ ]:
list(files)[:5]